<!doctype html>
<html>
    <head>
        <title>HomePage</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    </head>

    <body>
        <div class="container col-md-6">

            <h1 class="text-center">ETXALDEBOT</h1>

            {% if(conversation) %}
                {% for message in conversation %}
                    <p>{{ message[0] }}</p>
                    <p class ="text-primary text-right">{{ message[1] }}</p>
                {% endfor %}
            <a href="{{ url_for('home') }}"> Effacer conversation </a>
            {% endif %}
            <div class="text-center">
                <p>Veuillez poser votre question:</p>
                <form action="." method="POST">
                    <input type="text" name="question">
                    <button type="submit">OK</button>
                </form>
            </div>
        </div>
    </body>
</html>