<!doctype html>
<html>
    <head>
        <title>HomePage</title>
        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link rel="stylesheet" href="static/main.css">
    </head>

    <body>
        <div class="container col-md-6">

            <h1 class="text-center">ETXALDEBOT</h1>
            <div class="row">
                <div class="col-3"></div>
                <div class="col-9 text-right">
                    <p class ="chat pr-5 pl-5 p-3 rounded-pill bg-light text-left">Bienvenue, <br>Dites 'au revoir' pour quitter. <br>D'abord dites moi dans quelle commune vous vivez (64 uniquement):</p>
                </div>
            </div>
            <!-- Si liste conversation  -->
            {% if(conversation) %}

            <!-- On boucle sur chacun des messages -->
                {% for message in conversation %}

                    <!-- Si envoyé par utilisateur -->
                    {% if(message.sender == 'u') %}
                        <div class="row">
                            <div class="col-9">
                                <p class ="chat pr-5 pl-5 p-3 rounded-pill bg-primary text-white">{{ message.content }}</p>
                            </div>
                            <div class="col-3"></div>
                        </div>
                    
                    <!-- Sinon c'est un message du chatbot -->
                    {% else %}
                    
                    <!-- Si type paragrahe -->
                    {% if message.type_msg == 'p' %}
                    <div class="row">
                        <div class="col-3"></div>
                        <div class="col-9 text-right">
                            <p class ="chat pr-3 pl-3 p-1 rounded-pill bg-light">{{ message.content }}</p>
                        </div>
                    </div>
                    {% endif %}
                    <!-- Si type liste -->
                    {% if message.type_msg == 'l' %}
                    <div class="row">
                        <div class="col-3"></div>
                        <div class="col-9">
                            <ul class ="chat pr-3 pl-3 p-1 rounded-pill bg-light">
                                {% for elt in message.content %}
                                <li>{{ elt }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    {% endif %}
                    <!-- Si type fiche producteur -->
                    {% if message.type_msg == 'f' %}
                    <div class="row">
                        <div class="col-3"></div>
                        <div class="col-9 text-right">
                            <div class ="chat pr-3 pl-3 p-3 rounded bg-light text-left">{{ message.content.nom }}<br> {{ message.content.commune }}
                                <ul>
                                    {% for produit in message.content.produits %}
                                    <li>{{ produit}}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                            
                        </div>
                    </div>
                    {% endif %}
                    {% endif %}
                {% endfor %}
            <div class="text-center">
                <a href="{{ url_for('home') }}"> Effacer conversation </a>
            </div>
            {% endif %}
            <div class="text-center bg-info fixed-bottom p-3">
                <p>Veuillez poser votre question:</p>
                <form action="." method="POST">
                    <input type="text" name="question" placeholder="Votre question">
                    <button type="submit" class="btn btn-primary">OK</button>
                </form>
            </div>
        </div>
        <div id="end"></div>
    </body>
</html>